<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if(manifest) { %>
      <link rel="manifest" href="<%= manifest %>">
      <% } %>
  
    </head>
    <body>

      <link id="containter">
        <a href="home.html">Home</a>
      </div>
     
      <% if(serviceworker) { %>
        <script src="<%= serviceworker %>"></script>
        <% } %>
    
    <script>
      if('serviceWorker' in navigator){
        navigator.serviceWorker.register('/service-worker.js')
      }
    </script>
  </body>
</html>