#profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.menu{
    position: absolute;
    right: 70px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transform: translateY(-5%);
}

.menu #menu-list {
    width: 300px;
    background: var(--white);
    text-decoration: none;
    list-style: none;
    border-radius: 5px;
    border: 1px solid var(--black);
}

.showmenu {
    top: 17px;
}

.hidemenu{
    top: -300px;
}


.menu #menu-list li {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    width: 100%;
}

.menu #menu-list li > a{
    width: 100%;
}

.menu #menu-list li, a {
    display: flex;
    margin: 0;
}

.initials{
    line-height: 25px; 
    text-align: center; 
    border-radius: 100%; 
    max-width: 25px; 
    width: 25px; 
    max-height: 25px; 
    font-size: 12px;
    height: 25px; 
    background-color: var(--primary-color);
}

.menu-icon{
    line-height: 25px; 
    text-align: center; 
    border-radius: 100%; 
    max-width: 25px; 
    width: 25px; 
    max-height: 25px; 
    height: 25px; 
}

.user-name{
    padding-left: 20px;
}

.menu-title{
    line-height: 1.7;
    padding-left: 20px;
    width: 100%;
}


.menu i {
   color: var(--black)
}

.menu #menu-list li:hover {
    background-color: var(--black);
    color: var(--primary-color);
}

.profile-section {
    text-align: right;
    display: flex;
}

.profile-section > a {
    border: 1px solid var(--white);
    border-radius: 10px;
    font-size: 14px;
    padding: 10px;
    margin: auto;
    margin-right: 20px;
}

.profile-section > a:active {
    transform: scale(1.1);
}

.profile-section > a > i {
    margin-right: 10px;
    line-height: 1.2;
}

.logo img{
    width: 56px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}


.homepage-head {
    background: var(--secondary-color);
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: rgb(0 0 0 / 5%) 0px 7px 10px, rgb(0 0 0 / 5%) 0px 0px 1px, rgb(0 0 0 / 5%) 0px 4px 8px;
}

.header-no-search{
    background: var(--secondary-color);
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: rgb(0 0 0 / 5%) 0px 7px 10px, rgb(0 0 0 / 5%) 0px 0px 1px, rgb(0 0 0 / 5%) 0px 4px 8px;
}


.homepage-head h1 {
    color: var(--white);
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
    width: 700px;
}



.custom-search-cont{
    display: flex;
    width: 65%;
    height: 40px;
    align-self: center;
}

.custom-search-cont input {
    margin: 0;
    background-color: var(--white);
}

.custom-search-cont span{
    border-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: var(--black);
    width: 70px;
    padding: 15px;
    font-size: 22px;
    line-height: 1;
    height: 40px;
    background-color: var(--white);
    cursor: pointer;
}

.custom-search-cont .search {
    border-radius: 0;
    font-size: 26px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    line-height: 1;
    color: var(--black);
    cursor:text;
    width: 50px;
}


.col-4 {
    width: 25%;

}


#map {
    width: 100%;
    height: 90vh;
}

.listing-details #map {
   display: none;
}

.listing-details{
    display: none;
    padding-top: 80px;
    background: var(--tertiary-color);
}

.features-listings{
    padding: 15px;
}


.row {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    grid-template-columns:none;
    grid-gap: 0;
}

.col-6{
    width: 60%;
}

.col-5 {
    width: 50%;
}

/* 
CARDS
*/
.card-container {
 border-radius: 20px;
 padding: 20px;
 background-color: var(--white);
 }
 
 .card-img-container a {
     height: 100%;
     cursor: pointer;
 }


.card-img-container img{
width: 100%;
height: 20em;
border-radius: 20px;
object-fit: cover;
}

.favorite-cont {
    position: absolute;
    top: 10px;
    right: 0;

}

.favorite-cont i {
    color: var(--gray);
    font-size: 1.7rem;
    cursor: pointer;
    background: #60606061;
    width: 60px;
    border-radius: 10px;
    margin: auto;
    font-size: 24px;
    text-align: center;
    padding: 6px;
}

.wishlist .favorite-cont i {
    color: var(--primary-color);
    font-size: 1.7rem;
    cursor: pointer;
}

.wishlist {
    height: 95vh;
}

.card-img-container{
    width: 250px;
    position: relative;
}
  
 .container__profile {
  display: flex;
  align-items: center;
  padding-top: 10px;
  width: 250px;
}

  .container__profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    margin-right: 10px;
   }
   
   .container__profile__text  p{
    color: var(--dark-gray);
   }

   .container__profile h3 {
    color: var(--dark);
    font-size: 1rem;
    height: 30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
   }
   .container__profile p {
    font-size: 0.8rem;
    margin: 0
   }
   .container__profile p b {
    font-style: italic;
   }

   .card-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
   }

   .layout {
    display: flex;
    justify-content: right;
   }

   .layout a  {
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    color: var(--dark-gray);
   }

   .listing-category {
    overflow: scroll;
    gap: 15px;
    overflow-y: hidden;
   }

   .features-listings .category {
        margin: 40px 0px;
        text-transform: capitalize;
        font-size: 1.3em;
    }

    .catgeory-cont p {
        margin: 40px 0px;
        text-transform: capitalize;

    }

   .catgeory-cont{
       display: flex;
       justify-content: space-between;
   }

   .catgeory-cont strong {
       font-weight: 400;
        color: var(--primary-color);
        cursor: pointer;
   }

   .categories-cont {
       display: flex;
       padding: 20px;
       overflow-y: hidden;
       gap: 20px;
   }

   .categoryCard img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        display: block;
        margin: auto;
        border-radius: 50px;
   }

   .categoryCard {
       text-align: center;
       font-weight: 500;
       display: block;
       align-items: center;
   }

   .categories-cont .categoryCard p {
        margin-top: 10px !important;
        color: var(--secondary-color);
        text-align: center;
        margin: auto;
   }

   .category-heading {
       margin-left: 15px;
       font-size: 1.3em;
       margin-top: 20px;
   }

   .listing-by-category {
       display: grid;
       gap: 15px;
       grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
       grid-template-rows: repeat(auto-fill, 411px);
   }

   .listing-by-category .card-img-container {
       width: 100%;
   }

   .listing-by-category .container__profile {
       width: 100%;
   }
   .container__profile__text {
        width: 100%;
   }


   .nav-row {
    display: flex;
    justify-content: space-between;
    padding: 90px 10px 10px;
   }

   .listing #map {
       display: none;
   }

   .search-background {
       background-image: url('../images/bicycle.jpg');
       height: 50vh;
       background-position: center; 
       background-repeat: no-repeat;
       background-size: cover;
       transform: translateY(20px);
       position: relative;
   }

   .slogan {
        position: absolute;
        transform: translateY(70%);
        width: 100%;
        text-transform: capitalize;
        text-align: center;
        font-size: 1.3rem;
        color: var(--dark);
        padding: 20px;
   }

   .search-background .search-container {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: center;
        transform: translateY(40px);
    }
    
    .search-background .search-container i {
        background-color: var(--primary-color);
        padding: 20px;
        margin: 8px;
        color: var(--white);
        line-height: 1.5;
        cursor: pointer;
    }
    
    .custom-search {
       box-shadow: 2px 2px 10px var(--box-shadow);
       background: var(--white);
       width: 80%;
       display: flex;
    }

    .custom-search input {
        margin: 8px 0px 8px 8px ;
        border-radius: 0;
    }

   #form-profile {
        width: 70%;
        padding: 0px;
        margin: auto;
   }

   #form-profile .row {
       width: 100%;
       margin-bottom: 50px;
   }

   .updateProfile {
	    height: 100%!important;
    }

    .updateProfile #image {
        display: none;

    }

    .profile label[for="image"] img{
        border-radius: 50px;
    }

    .updateProfile input[type="submit"] {
        margin: 30px 0px;
    }

    

    @media screen and (min-width: 400px) {
      
    
            .slogan {
                transform: translateY(110%);
            }
            
    }


   @media screen and (min-width: 700px) {
        .layout {
            display: none;
        }

        .categoryCard img {
            height: 100px;
            width: 100px;
        }

        .profile-section > a {
            font-size: 18px;
        }
        
        .slogan {
            font-size: 1.5rem;
       }
    

        .custom-search {
            width: 70%;
        }

        #form-profile {
            width: 50%;
        }

        

        .container .listing .features-listings {
            display: grid;
            width: 50%;
        }

        .listing .container {
            display: flex;
        }

        .listing .listing-by-category{
            width: 50%;
        }

        .listing .container #map {
            display: block!important;
            width: 50%;
            height: 90vh;
        }
   }



   @media screen and (min-width: 1024px) {
       .categories-cont {
        justify-content: space-around;
       }


       .slogan {
            font-size: 2rem; 
       }

       .custom-search {
        width: 50%;
    }
   }