
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	font-size: 14px;
	height: 100vh;
}


#forgotPassword{
	width: 100%;
	margin-bottom: 20px;
	color: var(--dark-text);
	text-decoration: none;
}

.container {
	background: var(--tertiary-color);
	font-family: 'Montserrat', sans-serif;
	min-height: 90vh;
}


.user-name {
	width: 90%;
}

.menu-email {
	overflow: hidden;
    text-overflow: ellipsis;
}


.social-container {
	margin: 20px 0;
	width: 100%;
}

.social-container a {
	border: 1px solid var(--gray);
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
	color: var(--secondary-color);
}

.overlay-container {
	background-color: var(--secondary-color);
	color: var(--white);
}

.overlay{
	padding: 50px;
	text-align: center;
}

.overlay p {
	margin: 20px 0;
}

.overlay-left {
	display: none;
}

.registration-form {
	display: none;
}

.form-container {
	height: 62vh;
}

.login {
	height: 93%;
}

#errorMsg{
	margin: 0;
	color:var(--red);
	align-self: start;
}
#errorMsglogin{
	margin:0;
	color:var(--red);
	align-self: start;
}

@media screen and (min-width: 700px) {
	.overlay-container{
		order: 2;
	}

	.form-container{
		order: 1;
		margin: auto;
	}

	.login {
		display: flex;
	}

	.overlay{
		transform: translateY(15rem);
	}
}