:root {
    --black: black;
    --white: #ffffff;
    --yellow: #F7BB11;
}

html{
    font-size: 120%;
}


h1{
    color:var(--white);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 250%;
}


body{
    background-color: var(--black);
}




.topbar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: var(--white);
    position:sticky;
    top:0;
    border:none;
    background-color: var(--black);
}




.profileoptions ul{
    list-style: none;
    padding: 0;
    color: var(--white);
}
.profileoptions ul li{
    margin:10px 0;
    display: block;
}


#btn {

    display:block;
    justify-content: end;
    background-color: var(--yellow);
    border: none;
    color: var(--black);
    font-style: normal;
    font-weight: bold;
    padding: 0.5rem 1rem 0.5rem 1rem ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 30%;
    margin-top: 5%;
    border-radius: 2rem;
    
  }

  #btn:hover {
    background-color: var(--white);
    color:var(--black);
  }
  
  

  .cell,.field-long,.dob,.lname,.fname,#phone{
      border-radius: 0.5rem;
      
  }

  .profileoptions{
      text-justify:distribute-all-lines;
  }
 


    

  