:root {
    --black: black;
    --white: #ffffff;
    --yellow: #F7BB11;
}

html{
    font-size: 120%;
}


h1{
    color:var(--white);
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 250%;
}


body{
    background-color: var(--black);
}




.topbar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: var(--white);
    position:sticky;
    top:0;
    border:none;
    background-color: var(--black);
}




#btn {

    
    background-color: var(--yellow);
    border: none;
    color: var(--black);
    font-style: normal;
    font-weight: bold;
    padding: 0.5rem 1rem 0.5rem 1rem ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 15rem;
    margin-top: 5%;
    border-radius: 2rem;
    
  }

  #btn:hover {
    background-color: var(--white);
    color:var(--black);
  }
  
  

  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  body{
    background: white;
    padding: 0 10px;
  }

 

  .wrapper{
    max-width: 500px;
    width: 100%;
    background: black;
    margin: 50px auto;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
    padding: 30px;
  }
  
  .wrapper .title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 55px;
    color: white;
    text-align: center;
  }
  
  .wrapper .form{
    width: 100%;
  }
  
  .wrapper .form .inputfield{
    margin-bottom: 20px;
    align-items: center;
  }
  
  .wrapper .form .inputfield label{
     width: 200px;
     color: #ffffff;
     margin-right: 10px;
    font-size: 20px;
  }
  
  .wrapper .form .inputfield .input,
  .wrapper .form .inputfield .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 15px;
    transition: all 0.3s ease;
  }
  
  .wrapper .form .inputfield .textarea{
    width: 100%;
    height: 125px;
    resize: none;
  }
  
  .wrapper .form .inputfield .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
  }
  
  .wrapper .form .inputfield .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }
  
  .wrapper .form .inputfield .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }
  
  
  .wrapper .form .inputfield .input:focus,
  .wrapper .form .inputfield .textarea:focus,
  .wrapper .form .inputfield .custom_select select:focus{
    border: 1px solid #fec107;
  }
  
  .wrapper .form .inputfield p{
     font-size: 14px;
     color: #757575;
  }
  
  
  
  
  
  .wrapper .form .inputfield .btn{
    width: 100%;
     padding: 8px 10px;
    font-size: 15px; 
    border: 0px;
    background:  #fec107;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
  }
  
  .wrapper .form .inputfield .btn:hover{
    background: #ffd658;
  }
  
  .wrapper .form .inputfield:last-child{
    margin-bottom: 0;
  }
  
  @media (max-width:480px) {
    #btn {

    
        margin-left:auto
        
      }
  }

  @media (max-width:420px) {
    .wrapper .form .inputfield{
      flex-direction: column;
      align-items: flex-start;
    }
    .wrapper .form .inputfield label{
      margin-bottom: 5px;
    }
    .wrapper .form .inputfield.terms{
      flex-direction: row;
    }
  }


    

  